# Database
DATABASE_URL="postgresql://admin:senha@localhost:5432/af_db?schema=public"

# NextAuth
NEXTAUTH_SECRET="your-super-secret-key-here-change-in-production"
NEXTAUTH_URL="http://localhost:3000"

# Environment
NODE_ENV="development"
NEXT_PUBLIC_API_URL="http://localhost:3000/api"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Email Configuration (Resend)
RESEND_API_KEY="your-resend-api-key-here"
FROM_EMAIL="onboarding@resend.dev"

# Amadeus for developers (Flight APIs)
AMADEUS_API_KEY=api_key_obtida_no_amadeus
AMADEUS_API_SECRET=api_secret_obtida_no_amadeus